module.exports = {
  // Recommended: use the latest webpack
  webpack5: true,
  
  // Optional: set a base path to serve your app from non-root URL
  // (make sure to uncomment if used)
  // basePath: '/idgen',
};
