.fieldset {
  display: flex;
  flex-flow: column;
}

.label {
  font-size: 1rem;
  font-weight: 600;
}

.field {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  padding: 8px;
  margin: 0.3rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invalid {
  border: 1px solid red !important;
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button, .horizbutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
}

.button {
  font-size: 1rem;
}

.horizbutton {
  margin: 0.3rem 0 1rem;
  font-size: 1.01rem;
}

.button:active, .horizbutton:active {
  background-color: #ccc;
}

.inputgroup {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.inputgroup div {
  margin: 10px;
}

.selectfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  font-size: 1rem;
  padding: 8px;
  padding-right: 25px;
  margin: 0.3rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nomargin {
  margin: 0;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.small {
  margin-bottom: 20px;
}