.site {
  width: 500px;
  text-align: center;
  max-width: 100%;
}

.sitetable {
  width: 100%;
  max-width: 100%;
  align-self: center;
}

.members {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}