.inputgroup {
  display: flex;
  align-items: flex-end;
  div {
    margin: 10px;
  }
}
.selectfield { 
  padding: 7px;
  margin: 0.3rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 5px;
  margin: 0.3rem 0 1rem;
  font-size: 1.01rem;
}
